@font-face {
	src: url('../fonts/ptsans.woff2') format('woff2'), url('../fonts/ptsans.woff') format('woff');
	font-family: PtSans;
}

@font-face {
	src: url('../fonts/ptsansbold.woff2') format('woff2'), url('../fonts/ptsansbold.woff') format('woff');
	font-family: 'PtSans Bold';
}

*, *::before, *::after {
	box-sizing: inherit;
}

html {
	height: 100%;
	box-sizing: border-box;
}


body {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: 0;
	background-color: #f2f2f2;
	font-family: PtSans, Helvetica, Arial, sans-serif;
}

.style-wrapper {
	flex: 1 0 auto;
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 0px 13px 3px #00010120;
	position: relative;
}

h1,
h2,
h3,
h4,
p {
	margin: 0;
	font-weight: normal;
}

/* Header */
header {
	background-color: #fff;
	position: relative;
}

.site-menu {
	padding: 0 73px;
}

.site-menu ul {
	margin: 0;
	padding: 0;
	height: 55px;
	min-height: 56px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.site-menu li {
	width: 240px;
	text-align: left;
	list-style: none;
} 

.site-menu a {
	font-size: 14px;
	line-height: 26px;
	font-family: 'PtSans Bold', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	color: #000;
	text-decoration: none;
}

.site-menu li:nth-of-type(-n+2) {
	text-align: left;
}

.site-menu li:nth-of-type(n+3) {
	text-align: right;
}

.site-menu li:nth-of-type(2) {
	margin-right: 90px;
}

.logo {
	width: 138px;
	height: 71px;
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%);
}

/* Main */
main {
	background-color: #fff;
}

/* Main - Intro */
.intro {
	min-height: 508px;
	background-image: url('../images/polygon.png'), url('../images/intro-back.jpg');
	background-size: 101% auto, cover;
	background-position: 50% 450px, center 28%;
	background-repeat: no-repeat;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Main - Content */
.info-heading-wrapper {
	min-height: 216px;
	text-transform: uppercase;
	padding: 60px 0 56px 0;
}

.info-heading-wrapper h2 {
	font-size: 21px;
	text-align: center;
	margin-bottom: 29px;
	font-family: 'PtSans Bold', Helvetica, Arial, sans-serif;
}

.info-heading-wrapper p {
	color: #333333;
	font-size: 14px;
	text-align: center;
	font-family: PtSans, Helvetica, Arial, sans-serif;
}

/* About blocks */
.about-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	counter-reset: about-list;
}

.about-list > li {
	min-height: 256px;
	width: 400px;
}

.about-list > .city {
	display: inline-block;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 1200px;
}

.about-list > .devils-bridge {
	display: inline-block;
	display: flex;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 1200px;
	flex-direction: row-reverse;
}

.main-style {
	color: #fff;
	background-color: #81b3d2;
}

.second-style {
	color: #333333;
	background-color: #eeeeee;
}

.about-block {
	width: 400px;
	padding: 46px 48px 58px;
	min-height: 256px;
	text-align: center;
	text-transform: uppercase;
	line-height: 21px;
}

.about-block h3 {
	font-size: 21px;
	font-family: 'PtSans Bold', Helvetica, Arial, sans-serif;
	margin-bottom: 23px;
	position: relative;
	min-height: 85px;
}

.about-block h3::before {
	content: "– №" counter(about-list) " –";
	counter-increment: about-list;
	font-size: 14px;
	font-family: PtSans, Helvetica, Arial, sans-serif;
	position: absolute;
	margin-top: 30px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}

.about-block p {
	font-size: 14px;
	font-family: PtSans, Helvetica, Arial, sans-serif;
}

.sedona-image {
	display: inline-block;
	width: 800px;
}

/* Features blocks */
.city-features {
	display: inline-block;
	width: 1200px;
	padding: 0;
	margin: 0;
	list-style: none;
	background-color: #fff;
	display: flex;
}

.city-features > li {
	width: 400px;
	min-height: 331px;
	padding: 60px 0 65px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
}

.city-features > .presents {
	padding-top: 55px;
}

.city-features h3 {
	font-size: 21px;
	font-family: 'PtSans Bold', Helvetica, Arial, sans-serif;
	margin-bottom: 22px;
}

.city-features p {
	color: #333333;
	font-size: 14px;
	line-height: 21px;
	font-family: PtSans, Helvetica, Arial, sans-serif;
}

.city-features-icon {
	order: -1;
	max-width: 75px;
	max-height: 76px;
	margin-bottom: 26px;
	text-transform: uppercase;
	text-align: center;
} 

/* Search Form */
.search-block {
	min-height: 291px;
	padding: 46px 0 0;
	text-transform: uppercase;
	text-align: center;
}

.search-block h2 {
	font-size: 30px;
	margin-bottom: 24px;
	font-family: 'PtSans Bold', Helvetica, Arial, sans-serif;
	margin-bottom: 25px;
}

.search-block p {
	color: #333333;
	font-size: 14px;
	line-height: 24px;
	font-family: PtSans, Helvetica, Arial, sans-serif;
	margin-bottom: 46px;
}

.search-hotel-button {
	width: 568px;
	height: 86px;
	font-size: 21px;
	font-family: 'PtSans Bold', Helvetica, Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	background-color: #766357;
	border: none;
}

.search-form {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	justify-content: space-between;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	width: 568px;
	height: 395px;
	padding: 55px 55px 75px;
	background-color: #fff;
	font-size: 14px;
	font-family: 'PtSans Bold', Helvetica, Arial, sans-serif;
	box-shadow: 0 0px 13px 3px #00010120;
}

.input-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-bottom: 29px;
}

.input-wrapper:last-of-type {
	margin-bottom: 55px;
}

.search-form label {
	/* width: 100%; */
} 

.search-form input {
	font-size: 14px;
	font-family: 'PtSans Bold', Helvetica, Arial, sans-serif;
	background-color: #f2f2f2;
	border: none;
}

.search-form input[type="date"] {
	width: 346px;
	height: 38px;
	padding-left: 12px;
}

.search-form input[type="number"] {
	width: 114px;
	height: 38px;
	padding-left: 53px;
}

.search-form label[for="adults"] {
	max-width: 49%;
}

.search-form label[for="children"] {
	max-width: 49%;
}

.search-form button[type="submit"] {
	width: 458px;
	height: 58px;
	background-color: #81b3d2;
	font-size: 21px;
	font-family: 'PtSans Bold', Helvetica, Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
	border: none;
}

/* Map */
.google-map {
	width: 100%;
	min-height: 593px;
}

/* Footer */
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 119px;
	min-height: 120px;
	flex-shrink: 0;
	padding: 0 72px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 0.9);
}

.visit-hashtag {
	font-size: 21px;
	color: #000;
	text-decoration: none;
	font-family: 'PtSans Bold', Helvetica, Arial, sans-serif;
}

.social-link {
	display: inline-block;
	width: 46px;
	height: 48px;
}

.social-link.twi {
	background-image: url('../images/twi.png');
}

.social-link.fb {
	background-image: url('../images/fb-icon.png');
}

.social-link.yt {
	background-image: url('../images/youtube.png');
}

.html-ac-wrapper {
	display: flex;
	align-items: center;
}

.html-ac-text {
	text-transform: uppercase;
	margin-right: 8px;
}

.html-ac-link {
	font-size: 14px;
	color: #000;
	text-decoration: none;
	font-family: PtSans, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
}

/* Hotels Page */
.hotels {
	padding: 0 73px 120px;
}

.hotels-list {
	margin: 0;	
	padding: 0;
	list-style: none;
}

.hotel-card {
	display: flex;
	padding: 30px 0;
	align-items: center;
}

.hotel-info {
	font-family: PtSans, Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	display: flex;
	flex-direction: column;
}

.hotel-info > h3 {
	font-size: 21px;
	font-family: 'PtSans Bold', Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	margin: -2px 0 8px;
}

.about-wrapper {
	margin-bottom: 11px;
}

.details-link,
.book-link {
	display: inline-block;
	padding: 5px 17px;
	color: #fff;
	font-size: 14px;
	font-family: 'PtSans Bold', Helvetica, Arial, sans-serif;
	text-decoration: none;
}

.details-link {
	background-color: #81b3d2;
	margin-right: 6px;
	width: 110px;
}

.book-link {
	background-color: #766357;
	width: 142px;
}

.hotel-photo {
	order: -1;
	margin-right: 30px;
}

.hotel-card .rating {
	margin-left: auto;
}

.rating {
	max-width: 115px;
}

.stars {
	display: inline-block;
	text-align: right;
	min-height: 17px;
	min-width: 100px;
	margin-bottom: 40px;
}

.number {
	font-size: 14px;
	text-transform: uppercase;
	display: inline-block;
	padding: 5px 15px;
	background-color: #e5e5e5;
}

.filter {
	color: #fff;
	padding: 31px 0 0;
	background-image: url('../images/blur-back.jpg');
	background-position: 0 -260px;
}

.filter-form {
	display: flex;
	padding: 0 73px;
}

.options-set {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0;
	border: none;
	min-width: 240px;
}

.filter legend {
	text-transform: uppercase;
	font-family: 'PtSans Bold', Helvetica, Arial, sans-serif;
	margin-bottom: 23px;
}

.options-set input {
	margin-right: 17px;
}

.options-set label {
	display: flex;
	align-items: center;
	margin-bottom: 25px;
}

.options-set label::before {
	content: '';
	display: inline-block;
	width: 23px;
	height: 23px;
	background-image: url('../images/checkbox-off.svg');
	margin-right: 17px;
}

.options-set input:checked + label::before {	
	background-image: url('../images/checkbox-on.svg');
}

.price-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	margin-left: auto;
	max-width: 320px;
	position: relative;
}

.price-set {
	padding: 0;
	border: none;
}

.price-set input[type="range"] {
	width: 49%;
	position: absolute;
	top: 75px;
}

.price-set input[name="maxPrice"] {
	right: 0;
}

.price-set input[type="number"] {
	width: 49%;
}

.filter button[type="submit"] {
	color: #fff;
	text-transform: uppercase;
	width: 137px;
	height: 36px;
	margin: 27px auto 0;
	border: 2px solid #fff;
	background-color: rgba(255, 255, 255, 0);
}

.sort {
	display: flex;
	padding: 30px 73px;
	border-bottom: 2px solid #e5e5e5;
}

.sort-links {
	display: flex;
	align-items: center;
}

.results {
	font-size: 21px;
	text-transform: uppercase;
	font-family: 'PtSans Bold', Helvetica, Arial, sans-serif;
	margin-right: 50px;
}

.sort-links > h3 {
	font-size: 13px;
	text-transform: uppercase;
	margin-right: 40px;
}

.sort-links > a {
	font-size: 13px;
	text-transform: uppercase;
	margin-right: 30px;
}

.up-down-wrapper {
	margin-left: auto;
}

.up-down-wrapper .down,
.up-down-wrapper .up {
	display: inline-block;
	width: 10px;
	height: 10px;
	text-decoration: none;
}

.up-down-wrapper .down {
	margin-right: 12px;
}

/* Hidden */
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}