{% if page.layout == "home" %}
<aside class="side-column side-column_home">
{% else if %}
<aside class="side-column">
{% endif %}
	{% if page.title != "Запись на консультацию" %}
	<section class="section side-column__section consult">
		<h2 class="section__heading consult__heading">Закажите разработку сайта</h2>
		<p class="consult__text">По почте: <a class="consult__link consult__link_email" href="mailto:vwebdis@gmail.com">vwebdis@gmail.com</a></p>
		<p class="consult__text">В телеграме: <a class="consult__link consult__link_tg"  href="https://t.me/webval">@webval</a></p>
	</section>
	<section class="section side-column__section consult">
		<h2 class="section__heading consult__heading">Запишитесь на консультацию</h2>
		<a class="sign-up-link" href="/consult">Записаться</a>
	</section>
	{% endif %}
	<section class="section side-column__section video">
		<h2 class="section__heading">Последний видосик<br> <a href="https://www.youtube.com/@webvallek">на канале</a></h2>
		<iframe class="video__last-video" width="350" height="250" src="https://www.youtube.com/embed/videoseries?si=llvDcH7p2XnrbLCZ&amp;list=PLRygHwTb69vHDE7PatESl3HmQOhym1gNF" title="Последний видосик на канале" allowfullscreen="" srcdoc="<title>Последний видосик на канале</title><style>*{padding:0;margin:0;overflow:hidden;}html,body{height:100%}img,span{position:absolute;width:100%;top:0;bottom:0;margin:auto}span{height:1.5em;text-align:center;font:48px/1.5 sans-serif;color:white;text-shadow:0 0 0.5em black}a:focus-visible span{outline: 3px dashed rgb(255, 19, 255);outline-offset: -5px;}</style><a href='https://www.youtube.com/embed/videoseries?si=llvDcH7p2XnrbLCZ&amp;list=PLRygHwTb69vHDE7PatESl3HmQOhym1gNF'><img src='https://i.ytimg.com/vi/c33fr6h_EMw/sddefault.jpg' alt=''><span>▶</span></a>"></iframe>
	</section>
	<section class="section side-column__section skills">
		<h2 class="section__heading"><a href="{{ site.baseurl }}/pages/site/skills.html">Умею</a></h2>
		<ul class="skills__list">
			<li class="skills__skill skills__skill_big">
				<a class="skills__link" href="{{ site.baseurl }}/pages/site/skills.html#html">HTML</a>
			</li>
			<li class="skills__skill skills__skill_big">
				<a class="skills__link" href="{{ site.baseurl }}/pages/site/skills.html#html">CSS</a>
			</li>
			<li class="skills__skill skills__skill_big skills__skill_break">
				<a class="skills__link" href="{{ site.baseurl }}/pages/site/skills.html#js">JavaScript</a>
			</li>
			<li class="skills__skill">
				<a class="skills__link" href="{{ site.baseurl }}/pages/site/skills.html#bem">БЭМ</a>
			</li>
			<li class="skills__skill">
				<a class="skills__link" href="{{ site.baseurl }}/pages/site/skills.html#git">Git</a>
			</li>
			<li class="skills__skill">
				<a class="skills__link" href="{{ site.baseurl }}/pages/site/skills.html#figma">Figma</a>
			</li>
			<li class="skills__skill skills__skill_break">
				<a class="skills__link" href="{{ site.baseurl }}/pages/site/skills.html#node">Node.js/npm</a>
			</li>
			<li class="skills__skill">
				<a class="skills__link" href="{{ site.baseurl }}/pages/site/skills.html#build">Сборка (gulp, esbuild, vite)</a>
			</li>
			<li class="skills__skill skills__skill_break">
				<a class="skills__link" href="{{ site.baseurl }}/pages/site/skills.html#cms">Wordpress</a>
			</li>
			<li class="skills__skill">
				<a class="skills__link" href="{{ site.baseurl }}/pages/site/skills.html#teach">Образование</a>
			</li>
			<li class="skills__skill">
				<a class="skills__link" href="{{ site.baseurl }}/pages/site/skills.html#search">Поиск информации</a>
			</li>
			<li class="skills__skill">
				<a class="skills__link" href="{{ site.baseurl }}/pages/site/skills.html#other">UI/UX дизайн интерфейсов</a>
			</li>
			<li class="skills__skill">
				<a class="skills__link" href="{{ site.baseurl }}/pages/site/skills.html#english">Английский язык (говорю, пишу, читаю)</a>
			</li>
			<li class="skills__skill">
				<a class="skills__link" href="{{ site.baseurl }}/pages/site/skills.html#plan">Организация и планирование работы</a>
			</li>
			<li class="skills__skill">
				<a class="skills__link" href="{{ site.baseurl }}/pages/site/skills.html#text">Работа с текстом и графикой</a>
			</li>
		</ul>
	</section>
	<section class="section side-column__section">
		<h2 class="section__heading">Последние записи<br> <a href="https://vallek.github.io/webdevtips/">в базе знаний</a></h2>
		<iframe height="250" loading="lazy" sandbox="allow-popups allow-top-navigation" class="last-posts last-posts-webdev" src="https://vallek.github.io/webdevtips/last-posts.html" title="Последние записи в базе знаний"></iframe>
	</section>
	<section class="section side-column__section">
		<h2 class="section__heading">Последние посты<br> <a href="https://vallek.github.io/webval-blog/">в блоге</a></h2>
		<iframe height="250" loading="lazy" sandbox="allow-popups allow-top-navigation" class="last-posts" src="https://vallek.github.io/webval-blog/last-posts.html" title="Последние посты в блоге"></iframe>
	</section>
</aside>