<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{page.title}}
		{% if page.layout != "home" %}
		&mdash; Val's Portfolio - Frontend & Education
		{% endif %}
	</title>
	<meta name="description" content="Val's Portfolio - Frontend & Education">
	<meta name="keywords" content="portfolio, education, courses, frontend, html, css, javascript, web design">
	<meta name="author" content="Vallek">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/normalize.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
	<script async src="{{site.baseurl}}/js/header.js"></script>
	<script async src="{{site.baseurl}}/js/popup.js"></script>
		{% if page.layout == "course" %}
		<script async src="{{site.baseurl}}/js/accordion.js"></script>	
		{% endif %}
	<link rel="icon" sizes="16x16" href="{{site.baseurl}}/favicons/favicon1.png">
	<link rel="icon" sizes="32x32" href="{{site.baseurl}}/favicons/favicon1.png">
</head>