<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{page.title}}
		{% if page.layout != "home" %}
		&mdash; Портфолио Валеры Хаслера
		{% endif %}
	</title>
	<meta name="description" content="Портфолио Валеры Хаслера: фронтенд и образование">
	<meta name="author" content="Валерий Хаслер">
	<link rel="preload" href="{{site.baseurl}}/fonts/brygada-1918-v1-latin_cyrillic-700.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{{site.baseurl}}/fonts/open-sans-v18-latin_cyrillic-regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/normalize.css">
	{% if page.layout == "course_web" %}
		<link rel="stylesheet" href="{{site.baseurl}}/css/style_web.css">
		<script defer src="{{site.baseurl}}/js/accordion.js"></script>
		<script defer src="{{site.baseurl}}/js/web-scroll-anim.js"></script>
		{% else %}
		<link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
		<script defer src="{{site.baseurl}}/js/header.js"></script>
	{% endif %}
	<script defer src="{{site.baseurl}}/js/popup.js"></script>
	{% if page.layout == "course" %}
		<script defer src="{{site.baseurl}}/js/accordion.js"></script>	
	{% endif %}
	<link rel="icon" sizes="16x16" href="{{site.baseurl}}/favicons/favicon1.png">
	<link rel="icon" sizes="32x32" href="{{site.baseurl}}/favicons/favicon1.png">
</head>