<header class="header">
	<div class="header__main">
		<div class="header__intro">
			<img class="avatar header__avatar" src="{{site.baseurl}}/img/ava.jpg" alt="аватарка с фото автора" width="80" height="80">
			{% if page.layout == "home" %}
			<h1 class="header__title">Привет! Меня зовут <span class="header__name">Валера Хаслер</span><br> и это мое портфолио</h1>
			{% else %}
			<span class="header__title">Привет! Меня зовут <span class="header__name">Валера Хаслер</span><br> и это мое <a href="{{site.baseurl}}/index.html">портфолио</a></span>
			{% endif %}	
		</div>
		{% if page.layout == "home" %}
		<p class="header__about-me">
			Я занимаюсь фронтендом и образованием. Преподаю веб-верстку (HTML, CSS, JavaScript), помогаю студентам преодолевать трудности в обучении. Работаю автором курсов, лектором, наставником. <strong class="header__important header__important_reveal"><a class="header__link" href="pages/site/cv.html">Моя цель: делать качественное образование.</a></strong> Мечтаю в будущем создать лучшее образовательное учреждение для веб разработчиков:) Кроме того меня интересует всё, что касается дизайна, организации и планирования работы и образования.
		</p>
		{% endif %}	
	</div>
	<aside class="header__info">
		<p class="contact header__contact">
			<strong>Пишите:</strong>
			<a href="mailto:vwebdis@gmail.com">vwebdis@gmail.com</a>
		</p>
		<p>Живу в Санкт-Петербурге. Предпочитаю работать удаленно.</p>
		<div class="social-links">
			<a class="social-link github" href="https://github.com/Vallek/">
				<img class="social-logo github" src="{{site.baseurl}}/img/icons/github.svg" width="30" height="30" alt="иконка гитхаба">
			</a>
			<a class="social-link jsfiddle" href="https://jsfiddle.net/user/Vallek/fiddles/">
				<img class="social-logo github" src="{{site.baseurl}}/img/icons/jsfiddle.svg" width="30" height="30" alt="иконка jsfiddle">
			</a>
			<a class="social-link youtube" href="https://www.youtube.com/channel/UCzS4sE_0ltfSz6qx_FUCTdA">
				<img class="social-logo youtube" src="{{site.baseurl}}/img/icons/youtube.svg" width="30" height="30" alt="иконка ютьюба">
			</a>
			<a class="social-link twitter" href="https://twitter.com/_vallek">
				<img class="social-logo twitter" src="{{site.baseurl}}/img/icons/twi.svg" width="30" height="30" alt="иконка твиттера">
			</a>
		</div>
	</aside>
</header>