<head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-D7BKEC74VV"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-D7BKEC74VV');
	</script>	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{page.title}}
		{% if page.layout != "home" %}
		&mdash; Val's Portfolio - Frontend & Education
		{% endif %}
	</title>
	<meta name="description" content="Val's Portfolio - Frontend & Education">
	<meta name="author" content="Vallek">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/normalize.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
	<script defer src="{{site.baseurl}}/js/header.js"></script>
	<script defer src="{{site.baseurl}}/js/popup.js"></script>
		{% if page.layout == "course" %}
		<script defer src="{{site.baseurl}}/js/accordion.js"></script>	
		{% endif %}
	<link rel="icon" sizes="16x16" href="{{site.baseurl}}/favicons/favicon1.png">
	<link rel="icon" sizes="32x32" href="{{site.baseurl}}/favicons/favicon1.png">
</head>