<header class="header">
	<a class="skip-to-main" href="#main">Skip to main content</a>
	<div class="header__main">
		<div class="header__intro">
			{% if page.layout == "home" %}
			<img class="avatar__image header__avatar" src="{{site.baseurl}}/img/ava.jpg" alt="аватарка с фото автора" width="80" height="80">
			<h1 class="header__title">Hi! My name is <span class="header__name">Val</span><br> and this is my portfolio</h1>
			{% else %}
			<a class="avatar" href="{{site.baseurl}}/en/" aria-label="Ссылка на главную" title="Ссылка на главную"><img class="avatar__image" src="{{site.baseurl}}/img/ava.jpg" alt="аватарка с фото автора" width="80" height="80"></a>
			<span class="header__title">Hi! My name is <span class="header__name">Val</span><br> and this is my <a class="header__home-link" href="{{site.baseurl}}/en/">portfolio</a></span>
			{% endif %}	
			<button class="header__show show">
				<svg class="show__icon" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
				viewbox="0 0 384.97 384.97">
					<g>
						<g id="Menu">
							<path fill="#fff" d="M12.03,84.212h360.909c6.641,0,12.03-5.39,12.03-12.03c0-6.641-5.39-12.03-12.03-12.03H12.03
							C5.39,60.152,0,65.541,0,72.182C0,78.823,5.39,84.212,12.03,84.212z"/>
							<path fill="#fff" d="M372.939,180.455H12.03c-6.641,0-12.03,5.39-12.03,12.03s5.39,12.03,12.03,12.03h360.909c6.641,0,12.03-5.39,12.03-12.03
							S379.58,180.455,372.939,180.455z"/>
							<path fill="#fff" d="M372.939,300.758H12.03c-6.641,0-12.03,5.39-12.03,12.03c0,6.641,5.39,12.03,12.03,12.03h360.909
							c6.641,0,12.03-5.39,12.03-12.03C384.97,306.147,379.58,300.758,372.939,300.758z"/>
						</g>
					</g>
				</svg>
			</button>
		</div>
		{% if page.layout == "home" %}
		<div class="header__about">
			<p class="header__about-me">I work in frontend and education. I develop web ui's, teach frontend and create educational projects. I care about usability and best practices. I aim to make modern, responsive web ui. I create courses, live lectures and other educational materials and also do consulting.</p>
			<p class="header__about-me"><strong class="header__important header__important_reveal"><span class="header__link">My goal is to create web experience of high quality.</span></strong> I love to teach students same principles and help them to overcome various difficulties. I like to improve things and solve problems effectively. I'm also interested in everything about ui/ux, web design and work planning.</p>
		</div>
		{% endif %}	
	</div>
	<aside class="header__info">
		<section class="contacts">
			<h2 class="visually-hidden">Contacts</h2>
			<p class="contacts__contact">
				<strong>Email:</strong>
				<a href="mailto:vwebdis@gmail.com">vwebdis@gmail.com</a>
			</p>
			<p class="contacts__contact">
				<strong>Telegram:</strong>
				<a href="https://t.me/webval">@webval</a>
			</p>
		</section>
		<p class="hire-info"><span class="hire-info__hire-me">Looking for a job.</span></p>
		<div class="social-links">
			<a class="social-link social-link_github" href="https://github.com/Vallek/" title="Ссылка на гитхаб" aria-label="Ссылка на гитхаб">
				<img class="social-logo social-logo_github" src="{{site.baseurl}}/img/icons/github.svg" width="30" height="30" alt="иконка гитхаба">
			</a>
			<a class="social-link social-link_codepen" href="https://codepen.io/vallek/pens/" title="Ссылка на codepen" aria-label="Ссылка на codepen">
				<img class="social-logo social-logo_codepen" src="{{site.baseurl}}/img/icons/codepen.svg" width="30" height="30" alt="иконка codepen">
			</a>
			<a class="social-link social-link_youtube" href="https://www.youtube.com/@webvallek" title="Ссылка на youtube" aria-label="Ссылка на youtube">
				<img class="social-logo social-logo_youtube" src="{{site.baseurl}}/img/icons/youtube.svg" width="30" height="30" alt="иконка ютьюба">
			</a>
			<a class="social-link social-link_twitter" href="https://twitter.com/_vallek" title="Ссылка на twitter" aria-label="Ссылка на twitter">
				<img class="social-logo social-logo_twitter" src="{{site.baseurl}}/img/icons/twi.svg" width="30" height="30" alt="иконка твиттера">
			</a>
		</div>
		{% if page.layout != "home" %}
		<section class="locales">
			<h3 class="locales__text visually-hidden">Выбор языка/Languages</h3>
			<a class="locales__lang locales__lang_ru" href="../{{page.name}}">RU</a>
			<a class="locales__lang locales__lang_en" href="{{page.name}}">EN</a>
		</section>
		{% else %}
		<section class="locales">
			<h3 class="locales__text visually-hidden">Выбор языка/Languages</h3>
			<a class="locales__lang locales__lang_ru" href="../">RU</a>
			<a class="locales__lang locales__lang_en" href="{{site.baseurl}}/en/">EN</a>
		</section>
		{% endif %}
		<section class="themes">
			<h3 class="themes__text visually-hidden">Выбор темы/Themes</h3>
			<a class="themes__theme themes__theme_light" href="#">Light</a>
			<a class="themes__theme themes__theme_dark" href="#">Dark</a>
		</section>
	</aside>
	{% include hide-header.html %}
</header>