<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{page.title}}
		{% if page.layout != "home" %}
		&mdash; Портфолио Валеры Хаслера
		{% endif %}
	</title>
	<meta name="description" content="Портфолио Валеры Хаслера: фронтенд и образование">
	<meta name="keywords" content="портфолио, образование, курсы, фронтенд, веб-верстка, html, css, javascript, дизайн, веб-дизайн">
	<meta name="author" content="Валерий Хаслер">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/normalize.css">
	<link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
	<script async src="{{site.baseurl}}/js/popup.js"></script>
	<script async src="{{site.baseurl}}/js/accordion.js"></script>
	<link rel="icon" sizes="16x16" href="{{site.baseurl}}/favicons/favicon1.png">
	<link rel="icon" sizes="32x32" href="{{site.baseurl}}/favicons/favicon1.png">
</head>