<head>	
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{page.title}}
		{% if page.layout != "home" %}
		&mdash; Портфолио Валеры Хаслера
		{% endif %}
	</title>
	<meta name="description" content="Портфолио Валеры Хаслера: фронтенд и образование">
	<meta name="author" content="Валерий Хаслер">
	<link rel="stylesheet" type="text/css" href="{{site.baseurl}}/css/normalize.css">
	{% if page.layout == "course_web" %}
	<link rel="preload" href="{{site.baseurl}}/fonts/inter-v12-latin_cyrillic-100.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{{site.baseurl}}/fonts/inter-v12-latin_cyrillic-regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{{site.baseurl}}/fonts/inter-v12-latin_cyrillic-900.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="stylesheet" href="{{site.baseurl}}/css/style_web.css">
	<script defer src="{{site.baseurl}}/js/web-menu-popup.js"></script>
	<script defer src="{{site.baseurl}}/js/web-scroll-anim.js"></script>
	{% else %}
	<link rel="preload" href="{{site.baseurl}}/fonts/brygada-1918-v1-latin_cyrillic-700.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="preload" href="{{site.baseurl}}/fonts/open-sans-v18-latin_cyrillic-regular.woff2" as="font" type="font/woff2" crossorigin>
	<link rel="stylesheet" href="{{site.baseurl}}/css/style.css">
	<script defer src="{{site.baseurl}}/js/themes.js"></script>
	<script defer src="{{site.baseurl}}/js/header.js"></script>
	{% endif %}
	<script defer src="{{site.baseurl}}/js/popup.js"></script>
	{% if page.layout == "course" or "all-lecture-page" or "course_web" %}
	<script defer src="{{site.baseurl}}/js/accordion.js"></script>	
	{% endif %}
	<link rel="icon" sizes="16x16" href="{{site.baseurl}}/favicons/favicon.png">
	<link rel="icon" sizes="32x32" href="{{site.baseurl}}/favicons/favicon.png">
	<link rel="icon" type="image/png" href="{{site.baseurl}}/favicons/favicon-96x96.png" sizes="96x96">
	<link rel="icon" type="image/svg+xml" href="{{site.baseurl}}/favicons/favicon.svg">
	<link rel="shortcut icon" href="{{site.baseurl}}/favicons/favicon.ico">
	<link rel="apple-touch-icon" sizes="180x180" href="{{site.baseurl}}/favicons/apple-touch-icon.png">
	<link rel="manifest" href="{{site.baseurl}}/favicons/site.webmanifest">
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-VK07ZG60TK"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());
		gtag('config', 'G-VK07ZG60TK');
	</script>
</head>