<script>
	let pageHeader = document.querySelector('.header');
	let pageAbout = pageHeader.querySelector('.header__about');
	let pageInfo = pageHeader.querySelector('.header__info');
	let pageArr = [];
	pageArr.push(pageAbout, pageInfo);
	function hideNavOnStart() {
		for (let el of pageArr) {
			if (el != null &&
			window.innerWidth < 900) {
				el.classList.add('visually-hidden');
			}
			if (el != null &&
			window.innerWidth >= 900) {
				el.classList.remove('visually-hidden');
			}
		}
	}
	hideNavOnStart();
</script>