<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ru" }}">
	{% if page.lang == "en" %}
    {%- include head_en.html -%}
    {% else %}
    {%- include head.html -%}
    {% endif %}
  <body class="page home">   
	{% if page.lang == "en" %}
    {%- include header_en.html -%}
    {% else %}
    {%- include header.html -%}
    {% endif %}
	<main class="main">
		<article class="section page__section">
			{%- include all-lectures.html -%}
			{{ content }}
		</article>
		{% if page.lang == "en" %}
		{%- include aside_en.html -%}
		{% else %}
		{%- include aside.html -%}
		{% endif %}
	</main>
   		{% if page.lang == "en" %}
		{%- include footer_en.html -%}
		{% else %}
		{%- include footer.html -%}
		{% endif %}
  </body>
</html>