@font-face {
	font-family: Lato-Light;
	src: url('Fonts/Lato-Light.ttf');
}

@font-face {
	font-family: Lato-Regular;
	src: url('Fonts/Lato-Regular.ttf');
}

@font-face {
	font-family: Lato-Bold;
	src: url('Fonts/Lato-Bold.ttf');
}

body {
	width: 100%;
	margin: 0px;
	font-family: sans-serif;
}

/* Header */
.header-video {
	width: 100%;
	height: 900px;
	object-fit: cover;
}

.header-video-wrap {
	overflow: hidden;
}

.header-overlay {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 900px;
	background-color: #45C6B8;
	opacity: 0.5;
	clip-path: polygon(70% 0, 100% 50%, 100% 100%, 30% 100%, 0 50%, 0 0);
}

.top-header {
	position: absolute;
	top: 0px;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header-corner-logo {
	left: 0px;
	max-width: 200px;
}

.menu-button {
	width: 60px;
	height: 60px;
	min-width: 60px;
	margin-right: 2vw;
	margin-bottom: 50px;
	background-image: url('Images/menu.svg');
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	border-color: rgba(255, 255, 255, 1.0);
	z-index: 2;
}

.menu-overlay {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(69, 198, 184, 0.8);
	top: 0px;
}

.show {
	display: block;
}

.menu-overlay ul {
	font-size: 40px;
	list-style: none;
	padding-left: 0px;
	margin-left: 50%;
	transform: translateX(-50%);
	margin-top: 30vh;
	width: -moz-fit-content;
	width: fit-content;
}

.menu-overlay a {
	color: white;
	text-decoration: none;
}

.menu-overlay a:hover {
	color: rgba(69, 198, 184, 1);
	background-color: white;
}

.header-big-logo-wrap {
	position: absolute;
	top: 180px;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.header-big-logo {
	min-width: 200px;
	max-width: 80vw;
	max-height: 450px;
	z-index: 2;
}

.our-works-button {
	margin-top: 20px;
	width: 200px;
	height: 50px;
	background-color: rgba(0, 0, 0, 0);
	color: #FFFFFF;
	font-size: 20px;
	text-transform: uppercase;
	border-color: rgba(255, 255, 255, 0.5);
}

/* Main */
main {
	display: flex;
	flex-direction: column;
}

/* Blog */
.blog {
	height: 900px;
	display: flex;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50%;
	align-items: center;
	margin: -1px 0;
}

.blog-overlay-right,
.blog-overlay-left,
.blog-overlay-center {
	position: absolute;
	width: 100%;
	height: 900px;
	background-color: black;
	opacity: 0.3;	
	z-index: 1;
}

.blog-overlay-right {
	clip-path: polygon(10% 100%, 80% 0, 100% 0, 100% 100%);
}

.blog-overlay-left {
	clip-path: polygon(90% 100%, 20% 0, 0 0, 0 100%);
}

.blog-overlay-center {
	clip-path: circle(40%);
	width: 50%;
}

.blog-tag, 
.work-tag {
	z-index: 3;
	text-transform: uppercase;
	font-weight: normal;
}

.blog-tag::before,
.work-tag::before {
	border: 1px solid white;
	margin-right: 10px;
	padding: 10px 15px;
	font-weight: bold;
}

.blog-tag::before {
	content: "B";
}

.work-tag::before {
	content: "W";
}

.blog-title {
	text-align: center;
	margin-bottom: 15px;
	font-size: 30px;
}

.blog-title-big {
	font-family: Lato-Regular, sans-serif;
	font-size: 40px;
	text-transform: uppercase;
}

.blog-button {
	margin-top: 20px;
	width: 200px;
	height: 50px;
	background-color: rgba(255, 255, 255, 0);
	color: white;
	font-size: 20px;
	text-transform: uppercase;
	border-color: rgba(255, 255, 255, 0.5);
}

.blog-button:hover {
	background-color: rgba(255, 255, 255, 0.3);
}

.blog-info {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	align-items: center;
	color: white;
	margin: 0px 7vw;
	justify-content: center;
	text-align: center;
	z-index: 2;
}

.blog-date {
	font-size: 20px;
	align-self: flex-start;
	margin-bottom: 10px;
}

.blog-description,
.blog-text {
	font-size: 20px;
	margin-top: 0px;
} 

.blog-text {
	text-align: left;
}

.blog-text::after {
	content: "[...]";
}

.blog-logo {
	margin: -30px 0;
	height: 150px;
	z-index: 2;
}

/* Blog-outside */
#blog-outside {
	display: flex;
	flex-direction: column;
	justify-self: center;
	align-items: center;
}

#blog-outside-tag {
	position: relative;
	top: 70px;
	color: #45C6B8;
}

#blog-outside-tag::before {
	border: 1px solid #45C6B8;
}

.background-wrap {
	height: 900px;
	display: flex;
	align-items: center;
	align-self: stretch;
	/* width: 90%; */
	margin-left: -3vw;
}

.blog-back {
	height: 640px;
	width: 25%;
	background-repeat: no-repeat;
	background-position: 50%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 1;
	position: relative;
	overflow: hidden;
	background-clip: text;
	-webkit-background-clip: text;
}

.blog-back::after {
	font-family: serif;
	font-weight: bold;
	content: "Outside";
	position: absolute;
	background-color: rgba(69, 198, 184, 0.2);
	background-clip: text;
	-webkit-background-clip: text;
	overflow: hidden;
	font-size: 32vw;
	color: rgba(69, 198, 184, 0.5);
	top: 50%;
	transform: translateY(-50%);
}

#blog-back-2::after {
	margin-left: -100%;
}

#blog-back-3::after {
	margin-left: -200%;
}

#blog-back-4::after {
	margin-left: -300%;
}

.back-text {
	font-family: serif;
	font-weight: bold;
	font-size: 32vw;
	margin: 0px;
	color: rgba(255, 255, 255, 0);
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	white-space: nowrap;
}

#blog-back-1 {
	background-image: url('Images/blog-back-2.jpg');
	background-position: 30%;	
	z-index: 2;
}

#blog-back-2 {
	background-image: url('Images/blog-back-1.jpg');
	background-position: 30%;
}

#blog-back-3 {
	background-image: url('Images/blog-back-3.jpg');
}

#blog-back-4 {
	background-image: url('Images/blog-back-4.jpg');
	background-position: 30%;
}

#blog-back-2 span {
	margin-left: -100%;
}

#blog-back-3 span {
	margin-left: -200%;
}

#blog-back-4 span {
	margin-left: -300%;
}

.border-overlay {
	position: absolute;
	width: 98%;
	height: 880px;
	box-shadow:inset 0px 0px 0px 5px #45C6B8;
	border-top: 10px solid rgba(0, 0, 0, 0);
	border-bottom: 10px solid rgba(0, 0, 0, 0);
	border-left: 1vw solid rgba(0, 0, 0, 0);
	border-right: 1vw solid rgba(0, 0, 0, 0);
	left: 50%;
	transform: translateX(-50%);
}

.places-wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	bottom: 100px;
	font-family: Lato-Regular, sans-serif;
}

.places-wrap, .places-wrap a {
	z-index: 3;
	color: #45C6B8;
	text-transform: uppercase;
	font-weight: normal;
}

.places-dates ul {
	display: flex;
	padding-left: 0px;
}

.places-dates li {
	margin: 0px 10px;
}

.places-dates li:first-child {
	list-style: none;
}

#outside-button {
	color: #45C6B8;
	border-color: #45C6B8;
}

/* Blog-work */
#work {
	background-image: url('Images/blog-back-1.jpg');
	justify-content: flex-end;
}

#blog-info-2 {
	justify-content: center;
}

/* Blog-3 */
#blog-3 {
	background-image: url('Images/blog-back-2.jpg');
	justify-content: flex-start;
}

/* Blog-4 */
#blog-4 {
	background-image: url('Images/blog-back-3.jpg');
	justify-content: flex-end;
}

#blog-4 .blog-title {
	text-align: left;
}

#blog-4 .blog-info {
	align-items: flex-start;
}

/*Promo*/

.promo-block {
	height: 900px;
	display: flex;
	flex-wrap: wrap;
}

.promo-logo .header-big-logo {
	max-width: 50%;
}

#promo-1 {
	width: 50%;
	height: 100%;
	background-image: url('Images/pexels-photo-297755.jpeg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#promo-2 {
	width: 50%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* Footer */
footer {
	display: flex;
	justify-content: space-around;
	font-family: Lato-Regular;
	border-top: 1px solid rgba(128, 128, 128, 0.5);
	flex-wrap: wrap;
	width: 100%;
}

footer > div {
	max-width: 300px;
	margin-top: 20px;
}

footer h3 {
	text-transform: uppercase;
	font-weight: normal;
	color: rgba(128, 128, 128, 1.0);
}

.footer-links ul {
	list-style: none;
	line-height: 1.7em;
	margin-top: 0px;
}

.footer-links a {
	text-decoration: none;
	color: #45C6B8;
}

.footer-mail input {
	padding-top: 3px;
	height: 25px;
}

.footer-mail button {
	padding-bottom: 2px;
	background-color: rgba(0, 0, 0, 0);
	color: #45C6B8;
	border-color: #45C6B8;
	font-size: 20px;
	text-transform: uppercase;
}

/* Adaptive */
@media screen and (max-width: 1100px) {
	.blog-overlay-right, .blog-overlay-left {
		clip-path: circle(40%);
	}
	#work, #blog-3, #blog-4 {
		justify-content: center;
	}
}

@media screen and (max-width: 745px) {
	#promo-1, #promo-2 {
		width: 100%;
	}
	#promo-2 {
		display: none;
	}
	.blog-overlay-center {
		width: 100%;
	}
	footer {
		justify-content: center;
	}
	footer > div {
		width: 100%;
		margin: 20px;
	}
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .blog-block-title {
		color: rgba(255, 255, 255, 1);
	}
	.header-big-logo-wrap {
		width: 50%;
	}
}

